/* updateitem.css */

.updateform{
    margin-top: 50px;
}
/* Form container */
.form-container {
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 500px; /* Optional: Limit the width of the form */
    margin: 0 auto; /* Optional: Center the form horizontally */
  }
  
  /* Form name */
  .formname {
    text-align: center;
    margin-bottom: 20px;
  }
  .thumbnail{
    margin-left: 40%;
    width: 50px;
    height: 50px;
  }
  
  /* Form labels */
  .form-label {
    font-weight: bold;
    width: 30px;
    margin-left: 30px;
  }
  
  /* Form inputs */
  .form-control {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  /* Submit button */
  .update-btn {
    background-color: #4caf50;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
  }
  
  .update-btn:hover {
    background-color: #45a049;
  }
  
  /* Cancel button */
  .cancel-btn {
    background-color: #f44336;
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
  }
  
  .cancel-btn:hover {
    background-color: #da190b;
  }
  