.itemdetails {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 10px;
  text-align: center; /* Aligning table data to the center */
}

th {
  background-color: #f2f2f2;
  color: #333;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.thumbnail {
  width: 50px;
  height: 50px;
}

.btnupdate, .btndelete {
  padding: 8px 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.btnupdate:hover, .btndelete:hover {
  background-color: #0056b3;
}
