.navbar {
    background-color: #0056b3; /* Adjust color as needed */
    color: #fff;

    padding: 10px 0;
  }
  
  .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;

    margin-left: 20px; /* Adjust margin as needed */
    height: 50px; 
}
.brand {
   margin-left: 5px;  /* Adjust spacing between logo and brand */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
  }
  
  /* Styling for cart badge */
  .cart{
    background-color: yellow;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 0.8rem;
    position: relative;
    top: -8px;
    left: -5px;
  }
  